<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chikatch console</title>

    <link rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
</head>
<body>
<div id="app">
    <div class="container">
        <h1>Chikatch console</h1>
        To reload app, press command + R.
        <div>
            v: {{env.version.chikatch}}<br/>
            OS: {{env.os}}<br/>
            Node: {{env.version.node}}<br/>
            Chrome: {{env.version.chrome}}<br/>
            Electron: {{env.version.electron}}
        </div>

        <h2>Attached devices</h2>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li v-if="ports.length === 0">
                <div class="collapsible-header">
                    No device is attached.
                </div>
            </li>
            <li v-else v-for="port in ports">
                <div class="collapsible-header">
                    <i class="material-icons">devices</i>{{ port.comName }}
                </div>
                <div class="collapsible-body">
                    <div>
                        <span>locationId: {{ port.locationId }}</span><br/>
                        <span>manufacturer: {{ port.manufacturer }}</span><br/>
                        <span>pnpId: {{ port.pnpId }}</span><br/>
                        <span>productId: {{ port.productId }}</span><br/>
                        <span>serialNumber: {{ port.serialNumber }}</span><br/>
                        <span>vendorId: {{ port.vendorId }}</span>
                    </div>

                    <div>
                        <a :class="{ disabled: selectedComName === port.comName }"
                           class="waves-effect waves-light btn"
                           @click="connect(port.comName)">
                            Connect
                        </a>
                        <a :class="{ disabled: selectedComName !== port.comName }"
                           class="waves-effect waves-light btn"
                           @click="disconnect(port.comName)">
                            Disconnect
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <h2>Controller</h2>
        <div>
            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOn(100, 0, 0)">
                Red
            </a>
            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOn(0, 100, 0)">
                Green
            </a>
            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOn(0, 0, 100)">
                Blue
            </a>
            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="fadeOut()">
                FadeOut
            </a>
            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOff()">
                Off
            </a>

            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOnRandomLoop()">
                Random Loop
            </a>

            <a :class="{ disabled: !selectedComName }"
               class="waves-effect waves-light btn"
               @click="turnOffRandomLoop()">
                Stop Loop
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../node_modules/hammerjs/hammer.min.js"></script>
<script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.js"></script>
<script>
    window.onerror = function (msg, file, line, column) {
        alert(msg);
        document.body.innerText = `
        まじすまんぬ、、、、

        [message]
        ${msg}

        [file]
        ${file}:${line}:${column}`
    };

    require('./renderer')
</script>
</body>
</html>
